//
// Variables
//
//

// colors
$black:		#000;
$gray:		#C0C0C0;
$fontColorDefault: rgba(0, 0, 0, 0.8);
$textSelectionColor: $gray;

$charcoal: #231F20;
$slate: #3A3637;
$offWhite: #D8D4D5;
$chocolate: #7F7B7A;

//Sizes
$hudHeight: 92px;
